<h1><a href="/#/courses/{{sectionDetails.courseId}}/sections"><i title="Back to Sections" class="fa fa-arrow-circle-left"></i></a> Classlist for {{sectionDetails.courseNum + ', ' + sectionDetails.sectionCode}}</h1>
<div class="default well csv-form col-md-6">
    <div class="form-group">
        <label class="control-label" for="classlist" style="display: inline">Select your CSV file</label>
        <div class="csv-form-child">
            <ng-csv-import 
            class="import"
            content="csv.content"
            header="csv.header" 
            header-visible="csv.headerVisible" 
            separator="csv.separator"
            separator-visible="csv.separatorVisible"
            result="csv.result"
            encoding="csv.encoding"
            encoding-visible="csv.encodingVisible">
            </ng-csv-import>
        </div>
        <button class="btn btn-primary" ng-click="parseCSV(csv.content)">Submit</button>
    </div>
</div>

<div class="csv-success col-md-4"><h4>No students are currently enlisted in this course. Please upload a classlist.</h4><h3 ng-if="finished">Upload Successful!</h3></div>