<h1> Teachers </h1>
<button ng-show="privilege==3" style="float:right" type="button" title="Add a new Teacher" class="btn btn-success btn-s" ng-click="addT = !addT"><span class="glyphicon glyphicon-plus"></span></button>

<!--Add Teacher Form-->
<div ng-show="privilege==3" class="default well" ng-show="addT" style="margin: 0 auto">
	<form class="form-horizontal" ng-submit="AddTeacher()">
		<legend>Add Teacher</legend>
		
		<!--Student Number-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="employeeId">Employee Id</label>  
			<div class="col-md-5">
				<input id="employeeId" name="employeeId" class="form-control input-md" required="" type="text" ng-model="newTeacher.employeeId" />
			</div>
		</div>

		<!--Last Name-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="lastName">Last Name</label>  
			<div class="col-md-5">
				<input id="lastName" name="lastName" class="form-control input-md" required="" type="text" ng-model="newUser.lastName" />
			</div>
		</div>

		<!--First Name-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="firstName">First Name</label>  
			<div class="col-md-5">
				<input id="firstName" name="firstName" class="form-control input-md" required="" type="text" ng-model="newUser.firstName" />
			</div>
		</div>

		<!--Middle Name-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="middleName">Middle Name</label>  
			<div class="col-md-5">
				<input id="middleName" name="middleName" class="form-control input-md" type="text" ng-model="newUser.middleName" />
			</div>
		</div>

		<!--Email Address-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="emailAddress">Email Address</label>  
			<div class="col-md-5">
				<input id="emailAddress" name="emailAddress" class="form-control input-md" required="" type="email" ng-model="newUser.emailAddress" />
			</div>
		</div>

		<!--Degree-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="unit">Unit</label>  
			<div class="col-md-5">
				<input id="unit" name="unit" class="form-control input-md" required="" type="text" ng-model="newTeacher.unit" />
			</div>
		</div>

		<!--College-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="position">Position</label>  
			<div class="col-md-5">
				<input id="position" name="position" class="form-control input-md" required="" type="text" ng-model="newTeacher.position" />
			</div>
		</div>

		<!--Submit button-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="addTeacher"></label>
			<div class="col-md-4">
				<input type="submit" id="addTeacher" name="addTeacher" class="btn btn-primary" value="Add Teacher" />
			</div>
		</div>
	</form> <!--/add teacher-->
</div>

<!--Edit Teacher Form-->
<div ng-show="privilege==3" class="default well" ng-show="editT" style="margin: 0 auto">
	<form class="form-horizontal" ng-submit="EditTeacher()">
		<legend>Edit Teacher</legend>
		
		<!--Student Number-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="employeeId">Employee Id</label>  
			<div class="col-md-5">
				<input id="employeeId" name="employeeId" class="form-control input-md" required="" type="text" ng-model="editTeacher.employeeId" />
			</div>
		</div>

		<!--Last Name-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="lastName">Last Name</label>  
			<div class="col-md-5">
				<input id="lastName" name="lastName" class="form-control input-md" required="" type="text" ng-model="editUser.lastName" />
			</div>
		</div>

		<!--First Name-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="firstName">First Name</label>  
			<div class="col-md-5">
				<input id="firstName" name="firstName" class="form-control input-md" required="" type="text" ng-model="editUser.firstName" />
			</div>
		</div>

		<!--Middle Name-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="middleName">Middle Name</label>  
			<div class="col-md-5">
				<input id="middleName" name="middleName" class="form-control input-md" type="text" ng-model="editUser.middleName" />
			</div>
		</div>

		<!--Email Address-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="emailAddress">Email Address</label>  
			<div class="col-md-5">
				<input id="emailAddress" name="emailAddress" class="form-control input-md" required="" type="email" ng-model="editUser.emailAddress" />
			</div>
		</div>

		<!--Degree-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="unit">Unit</label>  
			<div class="col-md-5">
				<input id="unit" name="unit" class="form-control input-md" required="" type="text" ng-model="editTeacher.unit" />
			</div>
		</div>

		<!--College-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="position">Position</label>  
			<div class="col-md-5">
				<input id="position" name="position" class="form-control input-md" required="" type="text" ng-model="editTeacher.position" />
			</div>
		</div>

		<!--Submit button-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="editTeacher"></label>
			<div class="col-md-4">
				<input type="submit" id="editTeacher" name="editTeacher" class="btn btn-primary" value="Edit Teacher" />
			</div>
		</div>
	</form> <!--/edit teacher-->
</div>

<!--Search Teacher Form-->
<form>
	<div class="form-group">
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-search"></i></div>
			<input type="text" class="form-control" placeholder="Search for a Teacher" ng-model="searchTeacher">
		</div>      
	</div>
</form>

<table class="table table-hover">
	<thead>
		<tr>
			<th><a ng-click="sortType = 'employeeId'; sortReverse = !sortReverse">Employee Id <span ng-show="sortType == 'employeeId' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'employeeId' && sortReverse" class="fa fa-caret-up"></span></a></th>
			<th><a ng-click="sortType = 'lastName'; sortReverse = !sortReverse">Last Name <span ng-show="sortType == 'lastName' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'lastName' && sortReverse" class="fa fa-caret-up"></span></a></th>
			<th><a ng-click="sortType = 'firstName'; sortReverse = !sortReverse">First Name <span ng-show="sortType == 'firstName' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'firstName' && sortReverse" class="fa fa-caret-up"></span></a></th>
			<th><a ng-click="sortType = 'middleName'; sortReverse = !sortReverse">Middle Name <span ng-show="sortType == 'middleName' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'middleName' && sortReverse" class="fa fa-caret-up"></span></a></th>
			<th><a ng-click="sortType = 'emailAddress'; sortReverse = !sortReverse">Email Address <span ng-show="sortType == 'emailAddress' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'emailAddress' && sortReverse" class="fa fa-caret-up"></span></a></th>
			<th><a ng-click="sortType = 'unit'; sortReverse = !sortReverse">Unit <span ng-show="sortType == 'unit' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'unit' && sortReverse" class="fa fa-caret-up"></span></a></th>
			<th><a ng-click="sortType = 'position'; sortReverse = !sortReverse">Position <span ng-show="sortType == 'position' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'position' && sortReverse" class="fa fa-caret-up"></span></a></th>
			<th ng-show="privilege==3">Edit / Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="teacher in teachers | orderBy:sortType:sortReverse | filter:searchTeacher">
			<td>{{teacher.employeeId}}</td>
			<td>{{teacher.lastName}}</td>
			<td>{{teacher.firstName}}</td>
			<td>{{teacher.middleName}}</td>
			<td>{{teacher.emailAddress}}</td>
			<td>{{teacher.unit}}</td>
			<td>{{teacher.position}}</td>
			<td ng-show="privilege==3"><button type="button" class="btn btn-info btn-s" ng-click="ViewTeacher(teacher.id)"><span class="glyphicon glyphicon-edit"></span></button> <button type="button" class="btn btn-danger btn-s" ng-click="DeleteTeacher(teacher.id)"><span class="glyphicon glyphicon-remove"></span></button></td>
		</tr>
	</tbody>
</table>