/*Place custom CSS here*/

a {
	cursor: pointer;
}

table.attendance > thead > tr > th, table.attendance > tbody > tr > td {
   text-align: center;
   vertical-align: middle;
}

.attendance > tbody > tr > td.student_name {
   text-align: left;
   vertical-align: middle;
}

table > tbody > tr > td > i.clickable {
	cursor: pointer;
}

table > thead > tr > .table-head-m {
	font-size: 20px;
}

table > thead > tr > .table-head-s {
	font-size: 13px;
}

table > thead > tr > .no-border {
	border-style: none;
}

table > thead > tr > th > .cal-buttons {
	font-size: 30px;
	width: 100%;
	height: 100%;
}

.csv-form-child {
	margin-left: -18px;
}

.csv-success {
	margin-left: 100px;
}

.fa-star, .fa-star-o, .fa-star-half-o {
	color: #1A242F;
}

.center {
	margin: auto;
}

table > tbody > tr.red > td {
	background-color: #D62C1A;
	color: white;
}